Super\ McShifty/Library
Super\ McShifty/ProjectSettings
Super\ McShifty/temp
Super\ McShifty/UnityPackageManager
Super\ McShifty/obj
Super\ McShifty/Super\ McShifty.*
Super\ McShifty/Assembly*
Super\ McShifty/.vs
Gravity/*
Super\ McShifty/Assets/SampleScenes*
Super\ McShifty/Assets/Standard\ Assets*
